<form class="form-inline" method="POST" action="{{ url_for('second_question') }}"></form>
    <div class="form-group">
      <div class="input-group">
          <span class="input-group-addon">What artist do you feel like you "connect" with the most?</span>
              <select name="selected" class="selectpicker form-control">
                {% for answer in answers %}
                <option value="{{answer}}">{{answer}}</option>
                {% endfor %}
              </select>
      </div>
      <button type="submit" class="btn btn-default">Go</button>
    </div>
</form>